{# <form action={{ path('addPlat') }} method="post">
  <label for="nom">Nom:</label>
  <input type="text" id="nom" name="nom" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea>

  <button type="submit">Ajouter Plat</button>
</form> #}
<h1>hi</h1>